<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Example API consumer</h1>
        <p class="lead">made by Marcin Bancerz</p>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>