<div class="card-columns" *ngIf="results !== undefined; else noResults;">
    <div class="card bg-light" *ngFor="let result of results.results; let index=index">
        <img *ngIf="result.poster_path != null" class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ result.poster_path }}" alt="{{ result.title }}">
        <div class="card-body">
            <h4 class="card-title">{{ result.title }}</h4>
            <p class="card-text">{{ result.overview | truncate:[120, '...'] }} </p>
            <p class="card-text"><small class="text-muted">Released: {{ result.release_date}} </small></p>
            <a href="#" class="btn btn-primary" [routerLink]="['movie', result.id]">See more</a>
        </div>
    </div>
</div>
<ng-template #noResults>
    No results to display. Try search again.
</ng-template>
