<div class="container-fluid">
    <form class="m-2" [formGroup]="searchForm">
        <div class="row">
            <div class="col">
                <input type="text" formControlName="query" class="form-control" id="query" aria-describedby="query" placeholder="Enter movie name">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-mi btn-primary" (click)="doSearch()">
                    <i class="material-icons md-18">search</i> Enter movie name
                </button>
            </div>
        </div>
    </form>
    <div *ngIf="searchResponse && searchResponse.results.length > 0">
        <pagination [boundaryLinks]="true" [totalItems]="searchResponse.total_pages" [(ngModel)]="page" [maxSize]="10" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="onPageChanged($event)">
        </pagination>
    </div>
    <app-displayer [results]="searchResponse" [page]="currentPage"></app-displayer>
    <div *ngIf="searchResponse && searchResponse.results.length > 0">
        <pagination [boundaryLinks]="true" [totalItems]="searchResponse.total_pages" [(ngModel)]="page" [maxSize]="10" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="onPageChanged($event)">
        </pagination>
    </div>
</div>