/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

.btn-mi {
    display: flex;
    align-items: center;
    padding:5px 10px;    
}