<div class="row">
</div>
<div class="card w-500" *ngIf="isReady">
    <div class="card-body">
        <h4 class="card-title">{{ movie.title }}</h4>
        <p class="card-text">{{ movie.overview }} </p>
        <p><button class="btn btn-primary" [routerLink]="['/']">Return</button></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span *ngIf="movie.adult" class="badge badge-danger">For Adults</span>
            <span *ngIf="movie.video" class="badge badge-secondary">Video</span>
            <span *ngIf="movie.runtime" class="badge badge-primary">{{ movie.runtime}} min</span>
            <span *ngIf="movie.status" class="badge badge-primary">{{ movie.status}}</span>
            <span *ngIf="movie.revenue" class="badge badge-primary">Revenue: {{ movie.revenue}}</span>
            <span *ngIf="movie.budget" class="badge badge-primary">Budget: {{ movie.budget}}</span>
            <span *ngIf="movie.release_date" class="badge badge-primary">Released: {{ movie.release_date}}</span>
        </li>
        <li class="list-group-item" *ngIf="movie.genres.length > 0">
            <h4>Genres</h4>
            <p *ngFor="let genre of movie.genres">{{ genre.name }}</p>
        </li>
    </ul>
    <img *ngIf="movie.poster_path != null" class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
        alt="{{ movie.title }}">
</div>